@using website.Data
@using Microsoft.AspNetCore.Html;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationIdentityUser> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<!DOCTYPE html>
<html lang="eng">

<head>
	<title>Nicholas R Johnson</title>
	<meta charset="utf=8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="IKfOslUP52D3Qay_gbrA5rtWLUC2t3waF6RAQ6R737s" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/popper/popper.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/js/inner.js" asp-append-version="true"></script>
  @RenderSection("Scripts", required: false)
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-sm navbar-custom zone">
      <div class="navbar-header">
         <a class="navbar-brand linktext" rel="home" href="#">Nicholas R Johnson</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar d-flext">
        <ul class="navbar-nav d-flex mb-auto mt-0 ml-auto">
          <li class="nav-item"><a id="homeIdTop" class="nav-link py-0" href="/Home/Index">Home</a></li>
          <li class="nav-item"><a id="aboutIdTop" class="nav-link py-0" href="/Home/About">About</a></li>
          <li class="nav-item"><a id="projectsIdTop" class="nav-link py-0" href="/Home/Projects">Projects</a></li>
          <li class="nav-item"><a id="contactIdTop" class="nav-link py-0" href="/Home/Contact">Contact</a></li>
          <li class="nav-item"><a id="innerIdTop" class="nav-link py-0" href="/InnerSanctum/InnerSanctumIndex">Inner</a></li>
        </ul>
        <ul class="nav bg-dark navbar-dark navbar-right">
        </ul>
      </div>
      </nav>
    <div>
  </div> 

  <div class="row d-flex mb-3">
    <div class="col-sm-2 sidenav fullheight zone p-2" style="margin-top:20px; padding:15px;">
      <p><a id="homeIdSide" href="/Home/Index">Home</a></p>
      <p><a class="linktext" href="https://blog.nicholasrjohnson.com">Blog</a></p>
      <p><a id="contactIdSide" href="/Home/Contact">Contact</a></p>
      <p><a id="innerIdSide" href="/InnerSanctum/InnerSanctumIndex">Inner</p>
      <p><button id="logoutButton" class="nav-link btn btn-link text-dark">Click here to Logout</button></p>
    </div> 
    <div class="col p-2">
      <main role="main"class="p-3">
        @RenderBody()
      </main>
    </div>
    <div class="col-sm-2 ms-auto p-2">
      <h2>Manage your account</h2>
      <div>
        <h4>Change your account settings</h4>
        <hr />
        <ul class="nav nav-pills">
          <li class="nav-item">@Html.ActionLink("Profile","AdminIndex","Admin", new { model = new AdminIndexModel()}, new { @class = "nav-link", id = "profile" } )</li>
          <li class="nav-item">@Html.ActionLink("Change Email", "ChangeEmail", "Admin", new { model = new ChangeEmailModel()}, new {@class = "nav-link", id="email" })</li>
          <li class="nav-item">@Html.ActionLink("Change Password", "ChangePassword", "Admin", new { model = new ChangePasswordModel()}, new {@class = "nav-link", id="change-password"})</a></li>
          @if (hasExternalLogins)
          {
            <li id="external-logins" class="nav-item">@Html.ActionLink("External logins", "ExternalLogins", "Admin",  new { model = new ExternalLoginModel()}, new { @class = "nav-link", id = "external-login" })</li>                   
          }
          <li class="nav-item">@Html.ActionLink("Two-factor authentication", "TwoFactorAuthentication", "Admin", new { model = new TwoFactorAuthenticationModel()}, new { @class = "nav-link", id = "two-factor" })</li>
          <li class="nav-item">@Html.ActionLink("Person Data", "PersonalData", "Admin", new { model = new DeletePersonalDataModel()}, new { @class = "nav-link", id = "personal-data" })</li>
        </ul>
    </div>
  </div>
    <footer class="container-fluid text-center" >
      <p>&#x00A9;2021 Nicholas Johnson, All rights reserved</p>
    </footer>
  </div>
</div>
<script>
  $("#logoutButton").click( function() {
            $.ajax({
                url: "/Account/Logout"
            }).done(function(result) {
                $("#Login").show();
                $("#Logout").hide();
            }).fail( function() {
                alert("logout failed");
            });
       });
</script>
</body>
</html>

